<% if @word.success() == 1 %>
<div class="row ko-success-message">
  Error: <%= @word.message() %>
</div>
<% end %>
<h2 class="ko-word-title"><%= @word.word().capitalize() %></h2>
<div class="row">
  <h3 class="ko-heading">Definitions:</h3>
  <div class="ko-all-definitions">
    <% Definition.find_by_word_id(@word.id()).each do |definition| %>
    <div class="ko-definition">
      <div class="ko-definition-display">
        <%= definition.definition() %>
      </div>
      <div class="ko-definition-delete">
        <a href="/word/<%= @word.id() %>/<%= definition.id() %>/delete"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="row ko-add-definition">
  <form action="/word/<%= @word.id() %>/definition/add" method="post">
    <label for="definition">Add a definition for this word:</label>
    <input type="text" name="definition" placeholder="Definition">
    <button type="submit">Add Definition</button>
  </form>
</div>
